@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #5D606B;
  font-size: 13px;
  
}

li {
  color: #8E94A7;
  font-size: 14px;

}

li:hover, li:active{
  color:#0346F2;
  font-weight: 500;
}

a:active, a:hover, a:focus {
  color: #0346F2;
}

body {
  margin: 0;
  padding: 38px;
  background-color: #F6F7FB;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  background-color: white;
}

aside {
  background-color: white;
}

button {
  background-color: #0346F2;
  color: white;
  border-radius: 0.75em;
  padding: 0.5em;
  height: 3rem;
}